

body, html {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    /* background-color: grey; */

    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Navabar Start*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    padding-right: 10px;
    padding-left: 10px;

    background-color: #502050;
    border-radius: 10px;
}

.navbar-brand{
    font-size: 28px;
}

.navbar-nav {
    display: flex;

}
.navbar-nav a {
    transition: padding .5s;
}

.navbar a {
    text-decoration: none;
    color: white
}

.nav-navlinks{
    list-style: none;
}

.nav-navlinks a {
    margin-left: 10px;
    margin-right: 10px;
}

/* Hover */
.navbar-nav a:hover {
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
}


/* Media */
@media all and (max-width: 596px){
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar-nav{
        margin-right: 20px;
    }
}

/* Navabar End*/


.container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    color: #502050;
    justify-items: center;

}

.container1-sub1 {

    display: flex;
    flex-direction: column;

    justify-content: center;
    
    padding-left: 17px;

    background-color: #f7f2f7;
    border-radius: 10px;

    margin-left: 10px;
    margin-right: 10px;
}

.container1-sub2 {

    display: flex;
    flex-direction: column;

    background-color: aliceblue;
    border-radius: 10px;

    margin-right: 10px;
}

.container1-sub2-p {
    background-color: #f7f2f7;

    padding: 20px;
    border-radius: 5px;
}


/* Container 2 */

.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}

.container2-sub{
    color: white;

    padding: 10px;
    margin-top: 30px;
    margin-left: 10px;

    width: 80%;
    background-color: #502050;
    border-radius: 10px;
}

.container2 img {
    border-radius: 20px;
}

/* Footer */

.footer {
    background-color: #502050;
    height: 220px;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;


    border-radius: 10px;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}